.edit-profile-modal-container{
    font-family: 'Montserrat', sans-serif;
}

.x-button-trip{
    position: absolute;
    top: 10px;
    right: 10px;
    color: gray;
    cursor: pointer;
    background: transparent;
    border: none;
    font-weight: 600;
}

.modal-title-trip{
    font-family: 'Dancing script', cursive;
}

.modal-label{
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
}

.text-input{
    height: 25px;
    width: 240px;
    padding-left: 3px;
    padding-right: 3px;
}

.textarea-2{
    width: 240px;
    max-width: 240px;
    min-width: 240px;
    height: auto;
    min-height: 100px;
    max-height: 200px;
}

.save-button-trip{
    display: block;
    margin: auto;
    width: 100px;
    background-color: limegreen;
    color: white;
    font-weight: 600;
    border: 1px solid limegreen;
    font-size: 15px;  
    height: 30px;
    margin-top: 3em;
    margin-bottom: 1em;
}