.edit-profile-modal-container{
    font-family: 'Montserrat', sans-serif;
}

.x-button{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: gray;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
}

.edit-profile-title{
    font-family: 'Dancing script', cursive;
}

.modal-label{
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
}

.input-text{
    height: 25px;
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
}

.textarea{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    min-height: 100px;
    max-height: 200px;
}

.outline-container{
    margin: auto;
    margin-top: 5px;
}

.save-button-edit{
    display: block;
    position: absolute;
    bottom: 30px;
    right: 32%;
    width: 100px;
    background-color: rgba(211, 211, 211, 0.4);
    color: black;
    border: none;
    font-weight: 600;
    font-size: 15px;  
    height: 30px;
    margin-top: 1em;
    cursor: pointer;
}