.profile-containter{
    
}

.profile-photo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

body{
    background-color: lightblue;
}

.name-age-country{
    display: block;
    text-align: center;
}

.info-one{
    display: inline-block;
    margin: 1em;
}

.info-two{
    display: inline-block;
    margin: 1em;
}

.about-and-birth{
    display: inline-block;
    margin: 1em;
}

.profile-basic{
    width: 16%;
    text-align: center;
    display: inline-block;
}

.personal-info{
    position: relative;
}

.profile-div{
    background-color: whitesmoke;
    margin: 3em 10% 2em 10%;
    border-radius: 7px;    
    padding: 1em;
}
