.profile-container{
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1e5799 0%, #207cca 16%, #2addbc 44%, #a6e27a 73%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1e5799 0%,#207cca 16%,#2addbc 44%,#a6e27a 73%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1e5799 0%,#207cca 16%,#2addbc 44%,#a6e27a 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#a6e27a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding-top: 45px;
    min-height: 100vh;
}

.application-container{
    min-height: 100vh;
}

body{
    padding: 0px;
    margin: 0px;
}

body, html{
    min-height: 100vh;
}

#root{
    min-height: 100vh;
}

.profile-photo{
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

#photo{
    text-align: center;
    width: 19%;
}

.name-age-country-hidden{
    display: none;
}

.profile-div{
    font-family: 'Montserrat', sans-serif;
}

.column{
    float: left;
    width: 27%;
    padding: 0px;
    height: 300px;
}

.row{
    width: 100%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.profile-div{
    background-color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 7px;
}

@media screen and (max-width: 1000px){
    .column{
        width: calc(50% - 1em);
        height: calc(50vw - 24px);
        padding: 0.5em;
    }

    .name-age-country{
        display: none;
    }

    .name-age-country-hidden{
        display: initial;
        text-align: center;
    }

    #photo{
        text-align: left;
        padding: 0px;
        width: 50%;
    }

    .profile-photo{
        width: 100%;
        height: auto;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 7px;
    }

    .profile-div{
        padding-left: 1em;
        padding-top: 0px;
        margin: 10px;
        margin-bottom: 0px;
    }

    .row{
        padding-top: 0px;
        padding-left: 0px;
    }

    .navbar{
        padding-right: 1em;
    }
}

@media screen and (max-width: 600px){
    .column{
        width: 100%;
    }
}
