.privacy-container {
  position: absolute;
  width: 70%;
  height: auto;
  margin: auto;
  background: rgba(255, 255, 255, 0.9);
  top: 100px;
  left: 15%;
  border-radius: 15px;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
}

.background-image-privacy img {
  min-width: 100vw;
  min-height: 100vh;
  max-height: 150vh;
  position: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.back-link{
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  padding: 1em;
  text-transform: uppercase;
  color: black !important;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  border-bottom-right-radius: 15px;
}

.privacy-p {
  margin: 0px;
  color: black;
  margin-bottom: 1em;
}
