.gallery-photo, .gallery-photo-middle{
    display: inline-block;
    width: 90px;
    height: 90px;
    background-color: antiquewhite;
    margin: 1em;
}

.gallery-photo-middle{
    width: 120px;
    height: 120px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.gallery-container{
    width: 100%;
    text-align: center;
}

.i {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
}

.right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}