.findthem-modal-container{
    font-family: 'Montserrat', sans-serif;
}

.x-button-findthem{
    position: absolute;
    top: 10px;
    right: 10px;
    color: gray;
    cursor: pointer;
    border: none;
    background: transparent;
    font-weight: 600;
}

.title-find-modal{
    font-family: 'Dancing script', cursive;
}

.modal-label{
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
}

.text-input{
    height: 25px;
    width: 200px;
    padding-left: 3px;
    padding-right: 3px;
}

.findthem-button{
    display: block;
    margin: auto;
    width: 150px;
    background-color: limegreen;
    color: white;
    font-weight: 600;
    border: 1px solid limegreen;
    font-size: 15px;  
    height: 30px;
    margin-top: 5em;
    margin-bottom: 2em;
}

.errors-show{
    color: red;
    font-size: 10pt;
    padding-top: 30px;
    height: 10pt;
}