.findthem-modal-container{
    font-family: 'Montserrat', sans-serif;
}

.x-button-findthem{
    position: absolute;
    top: 10px;
    right: 10px;
    color: gray;
    cursor: pointer;
    border: none;
    background: transparent;
    font-weight: 600;
}

.title-find-modal{
    font-family: 'Dancing script', cursive;
}

.react-datepicker-wrapper{
    width: 100% !important;
}

.react-datepicker__input-container{
    width: 100% !important;
}

.date-wide{
    width: 100% !important;
}

.modal-label{
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
}

.text-input{
    height: 25px;
    width: 200px;
    padding-left: 3px;
    padding-right: 3px;
}

.findthem-button{
    display: block;
    margin: auto;
    width: 150px;
    background-color: rgba(211, 211, 211, 0.4);
    color: black;
    font-weight: 600;
    border: none;
    font-size: 15px;  
    height: 30px;
    margin-top: 5em;
    margin-bottom: 2em;
    cursor: pointer;
}

.errors-show{
    color: red;
    font-size: 10pt;
    padding-top: 30px;
    height: 10pt;
}

.toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }

  .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: white 0.2s ease;
  }

  .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
  }

  .toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(79, 46, 220, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
  }

  #cbx:checked + .toggle:before {
    background: #947ADA;
  }
  #cbx:checked + .toggle span {
    background: #4F2EDC;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), white 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
  }
  #cbx:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
  }


/* @media (max-width: 800px){
    .findthem-modal-container{
        margin-top: -20px !important;
    }
} */