@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.home{
    /* background: #1e5799;
    background: -moz-linear-gradient(-45deg, #1e5799 0%, #207cca 16%, #2addbc 44%, #a6e27a 73%); 
    background: -webkit-linear-gradient(-45deg, #1e5799 0%,#207cca 16%,#2addbc 44%,#a6e27a 73%); 
    background: linear-gradient(135deg, #1e5799 0%,#207cca 16%,#2addbc 44%,#a6e27a 73%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#a6e27a',GradientType=1 );*/
    background: white !important; 
}

.home_part-1{
    width: 100%;
    min-height: 79vh;
    padding-top: 120px;
    background-image: url("../../images/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.most-popular-p{
    text-align: center;
    color: black;
    font-weight: 800;
    font-size: 40pt;
    font-family: 'Dancing script', cursive;
    margin-top: 0em;
    margin-bottom: -0.3em !important;
}

.most-popular-p-under{
    text-align: center;
    color: gray;
    font-weight: 450;
    font-size: 12pt;
    text-transform: uppercase;
}

.divider{
    margin: auto;
    width: 25px;
    height: 3px;
    background-color: limegreen;
    margin-bottom: 1em;
    border-radius: 2px;
}

.home-part-popular{
    margin: auto;
    width: auto;
    text-align: center;
}

.home-center{
    min-height: 200px;
    width: 370px;
    margin: auto;
    text-align: center;
    color: white;
}

#its-time{
    font-size: 30px;
    font-family: 'Dancing script', cursive;
}

#travel-friends-home{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    text-shadow: 1px 1px 4px rgba(0,0,0,.5);
}

#findthem{
    height: 40px;
    color: white;
    text-transform: uppercase;
    border: 2px solid royalblue;
    font-weight: 600;
    background-color: royalblue; 
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
}

#findthem:hover{
    cursor: pointer;
}

@media (max-width: 800px){
    .home_part-1{
        min-height: 85vh;
    }
}

@media (max-width: 576px){
    .home-center{
        width: 80%;
    }
}