.my-friend-list-container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.friend-list-wrapper{
    padding-top: 100px;
    height: auto;
    padding-bottom: 100px;
}

body {
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1e5799 0%, #207cca 16%, #2addbc 44%, #a6e27a 73%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1e5799 0%,#207cca 16%,#2addbc 44%,#a6e27a 73%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1e5799 0%,#207cca 16%,#2addbc 44%,#a6e27a 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#a6e27a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
}

.destination-name-list{
    font-weight: 800;
    font-size: 40pt;
    margin-top: -20px;
    color: white;
    text-align: center;
}

@media (max-width: 600px){

}