.my-friend-profile-container {
background-image: url("../../images/profile3long.jpg") !important;
  background-size: cover;
  padding-top: 45px;
  min-height: 100vh;
  padding-bottom: 45px;
}

.application-container {
  min-height: 100vh;
}

.my-friend-profile-photo{
  width: 145px;
  height: auto;
  border-radius: 75px;
  margin-top: 15px;
}

.send-message{
  background-color: rgba(211, 211, 211, 0.4);
  color: black !important;
  padding: 0.3em 0.6em;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.edit-my-friend-profile {
  background-color: cornflowerblue;
  color: white !important;
  padding: 0.3em 0.6em;
  font-weight: 600;
  border: solid 1px cornflowerblue;
  cursor: pointer;
}

body {
  padding: 0px;
  margin: 0px;
}

body,
html {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.my-friend-profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}

.name-age-country-hidden {
  display: none;
}

.my-friend-profile-div {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.row {
  width: 100%;
  text-align: center !important;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.right-align{
  width: 100%;
  height: 25px;
}

.right{
  margin-left: calc(100% - 100px)
}

#size{
  height: 25px !important;
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: 500 !important;
}

.my-friend-profile-div {
  background-color: rgba(256, 256, 256, 0.7);;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

@media screen and (max-width: 1000px) {
  #photo {
    text-align: center;
    padding-top: 15px;
    width: calc(50% - 1em);
  }

  .padding-left {
    padding-left: 2em;
  }

  .my-friend-profile-photo {
    width: 200px;
    height: auto;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 7px;
  }

  .my-friend-profile-div {
    padding-left: 1em;
    padding-top: 0px;
    margin: 10px;
    margin-bottom: 0px;
  }

  .row {
    padding-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  #photo {
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}
