.my-friend-detail-container{
    position: relative;
    float: left;
    width: 260px;
    height: auto;
    margin-right: 1.5em;
    background-color: rgba(250, 250, 250, 0.9);
    text-align: center;
    margin-bottom: 1.5em;
    opacity: 10;
}

.profile-button{
    background-color: greenyellow;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 10px; 
    width: 100px;
}

.buttons{
    margin: auto;
    width: 77%;
}

.profile-button p{
    color: royalblue !important;
    margin: 0px;
    font-weight: 700 !important;
}

.contact-button{
    background-color: royalblue;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 10px;
    width: 100px;
}

.contact-button p{
    margin: 0px;
    color: greenyellow !important;
    font-weight: 700 !important;
}

.detailp{
    margin-top: 0px;
    font-size: 10pt;
    padding-left: 15%;
    padding-right: 15%;
}

.planned-banner{
    display: fixed;
    top: 0;
    left: 0;
    width: 69px;
    height: 50px;
    background-color: royalblue;
    z-index: 100;
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari prior 9.0 */
    transform: rotate(-20deg); 
    margin-top: -10px;
    margin-left: -10px;
}

.planned-banner p{
    color: greenyellow !important;
    margin: 0px;
    font-size: 15pt;
    text-emphasis: bold;
    line-height: 1.2;
    font-family: 'Dancing script', cursive;
}

.my-friend-detail-container img{
    width: 130px;
    border-radius: 65px;
    margin-top: 1em;
}

.my-friend-detail-container p {
    text-align: center;
    font-weight: 500;
    color: black;
}

@media (max-width: 600px){
    .my-friend-detail-container{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        height: 200px;
        float: unset;
    }
}