.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 45px;
  padding-right: 20%;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.navbar-item {
  text-align: center;
  color: black;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  margin-top: 5px;
}

.navbar-link {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  cursor: pointer;
  color: black !important;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-link:hover {
  text-decoration: none;
}

.sandwitch{
  display: none;
}

.navbar-item-drop{
  display: none;
}

@media (max-width: 576px) {
  .sandwitch{
    display: block;
    background-color: transparent;
    width: 55px;
    height: 55px;
    overflow: visible;
    position: absolute;
    right: 0px;
    color: white;
    font-size: 40px;
    text-align: right;
    padding-right: 5px;
    text-shadow: 0px 1px gray;
  }

  .navbar{
    background-color: transparent;
  }

  .sandwitch:hover{
    width: 30%;
  }

  .large-text-link{
    font-size: 13pt !important;
  }

  .sandwitch:hover > .navbar-item-drop { 
    background-color: rgba(255, 255, 255, 0.8);
    display: block !important;
    height: 50px;
    text-align: center;
    font-size: 25px !important;
    padding: 3px;
    margin-right: -5px;
    text-shadow: none;
  }

  .navbar-item-drop{
    display: none !important;
  }

  .navbar-item {
    display: none !important; 
  }
}

@media (max-width: 1000px) {
  .navbar {
    padding-right: 1em;
  }
}

@media (max-width: 403px) {
  .navbar-item{
    margin-right: 3px !important; 
  }
}
