.search-destination-button{
    width: 270px;
    height: 40px;
    color: black;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    background-color: rgba(211, 211, 211, 0.4); 
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    margin-top: 0.5em;
}

.destination-search{
    margin: auto;
    width: 270px;
    min-height: 300px;
    margin-top: 2em; 
}