.destination {
  display: inline-block;
  width: 40%;
  height: auto;
  background-color: rgb(255, 255, 255, 0.3);
  margin: 0.5em;
  margin-top: 0em;
}

.destination-image {
  width: 100%;
  text-align: center;
}

.destination-name {
  text-align: center;
  font-weight: 600;
  color: black;
  margin: 5px;
}

@media (max-width: 800px) {
  .destination {
    width: 40%;
  }
}

@media (max-width: 500px) {
  .destination {
    width: 80%;
  }
}
