@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

html{
  background-color: white;
}

.destination-wrapper {
  margin: 0px;
  padding: 0px;
  padding-top: 0px;
  text-align: center;
  position: relative;
}

.destination-upper-div {
  width: 100%;
  height: auto;
  text-align: center;
}

.destinationPagePhoto {
  width: 100%;
  /* max-height: 70vh; */
  position: relative;
  z-index: 1;
}

.destination-description{
  background-color: white;
  margin-top: 1em;
  margin-bottom: 0px;
  font-size: 15pt !important;
  font-style: italic !important;
  font-weight: 300;
  padding-left: 10%;
  padding-right: 10%;
}

.destination-page-title-p{
  margin: 0px !important;
  color: black;
  padding-top: 20px;
  font-size: 32pt;
  font-family: 'Dancing script', cursive;
}

.destination-link{
  font-weight: 500;
  margin-top: 1em;
  background-color: royalblue;
  color: white !important;
  padding: 0.5em;
  font-size: 12pt;
  border-radius: 5px;
}

.destination-link:hover{
  cursor: pointer;
  text-decoration: none !important;
}

.destination-page-title {
  text-align: center;
  font-weight: 800;
  font-size: 30pt;
  background-color: rgba(166, 226, 122, 0.5);
  z-index: 5;
  position: relative;
  width: 100%;
  background-color: white;
  margin: 0px !important;
}

.reviews {
  width: 100%;
  height: auto;
  min-height: 50vh;
  background-color: white;
  margin: auto;
  text-align: left;
  padding: 1em;
  padding-left: 15%;
  padding-right: 15%;
}
 
@media (max-width: 500px) {
  .reviews {
    width: 100%;
    overflow-y: hidden;
  }
  .destination-review{
    display: block;
    margin: auto;
    margin-bottom: 1em;
  }
}
