.trip-div{
    width: 300px;
    height: auto;
    display: inline-block;
    position: relative;
    border: solid 1px gray;
    margin-left: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}

.half{
    height: 100%;
    width: 100%;
}

.destination-image-detail{
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.half-2{
    width: 100%;
    height: auto;
    padding-left: 2em;
    margin-top: 0.5em !important;
}

.trip-place{
    position: relative;
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
    font-size: 19pt;
    font-family: 'Dancing script', cursive;
}

.delete-trip-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 29px !important; 
    height: 29px !important;
    margin-left: 0px !important;
    background-image: url("../../images/mockup/bin.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: solid 1px transparent;
    background-color: transparent;
    cursor: pointer;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.edit-review{
    display: block;
    margin: auto;
    width: 100px;
    background-color: limegreen;
    color: white;
    font-weight: 600;
    border: 1px solid limegreen;
    font-size: 15px;  
    height: 25px;
    margin-top: 1em;
    cursor: pointer;
}

.icon{
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    cursor: pointer; 
}

#editReview{
    margin-left: 25px !important;
    margin-top: 40px !important;
}

.open-modal-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 25px !important; 
    height: 25px !important;
    background-image: url("../../images/mockup/write_review_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: solid 1px transparent;
    background-color: transparent;
    cursor: pointer;
}

.trip-date{
    margin-top: 0px !important;
    margin-bottom: 10px;
    max-width: 50%;
    width: 100%;
}

.trip-dates{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

@media (max-width: 1000px){
    .trip-div{
        width: 300px;
    }
    .half-2{
        width: 100%;
    } 
    
    .half{
        width: 100%;
    }
}

@media (max-width: 600px){
    .trip-div{
        width: 100%;
        height: auto;
        margin-left: 0px;
    }

    .trip-place{
        text-align: center;
        width: 100%;
        padding: 0px;
        margin: auto;
        font-size: 16pt;
        margin-bottom: 5px;
    }
    .half-2{
        width: 100%;
        margin-top: -5px;
        position: relative;
    } 

    .delete-trip-btn{
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 35px !important;
        height: 35px !important;
    }

    .destination-image-detail{
        width: 100% !important;
        height: auto !important;
    }
    
    .half{
        width: 100%;
    }
}