.my-trips-name-list{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 17pt;
    font-weight: 800;
    font-family: 'Dancing script', cursive;
}
.my-trips-list-container{
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
}

.my-trips-list-container:after{
  content: "";
  display: table;
  clear: both;
}

.no-planned-trips{
    padding-left: 0.5em;
    opacity: 0.8;
    font-style: italic;
}

.no-old-trips{
    padding-left: 0.5em;
    opacity: 0.8;
    font-style: italic;
}

@media (max-width: 600px){
    .my-trips-name-list{
        margin-left: 5%;
        margin-right: 0px;
    }
}